body {
  background-color: #C4CCD0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  color: #586E75;
  font-size: 15px;
  line-height: 1.5em;
}

h1, h2, h3 {
  font-family: 'Varela Round', sans-serif;
}

h1 {
  font-size: 23px;
  font-weight: 600;
 }


h2 {
  font-size: 20px;
  font-weight: 400;
 }

h3 {
  font-size: 17px;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #9D858D;
}

a:hover {
  color: #F3D0DD;
}


.container {
  width: 600px;
  margin: auto;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px #858585
}

.text-center {
  text-align: center;
}

.img-circle {
  border-radius: 50%;
  width: 200px;
}

.btn-red {
  background-color: #9D858D ;
  color: white;
  font-weight: 500;
  padding: 10px;
  border-radius: 4px;
}

#films td {
  padding: 10px;
}

#films img {
  width: 125px;
}

.list-inline {
  padding-left: 0;
  font-size: 20px;
}

.list-inline li {
  display: inline-block;
  padding: 20px;
}

